{% extends "header.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Daftarkan Warga{% endblock %}

{% block content %}
        <div class="row">
        	<div class="col-xs-12 col-md-12">
                <center>
        		<div style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 70px;width: 800px;">
        			
        			<h2>Masukan Biodata Warga Baru</h2>
                    {{ berhasil }}
                    <br>
                    <br>
                	<form action="savependuduk" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <br>
                    <input type='submit' value='Submit'>

                	</form>
                    
           		</div>
                </center>
        	</div>
        
        </div>

        <div class="row">
        	<div class="col-xs-12 col-md-12">
        		<center><a href="{% url 'daftarpositif' %}"><button class="button" style="background-color:  #6FCF97; color:white;margin-left: auto;margin-right: auto;margin-top: 20px;">Daftar Warga Positif</button></a></center>
           	</div>
        	</div> 
{% endblock %}